* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

nav {
    background-color: #222;
    padding: 5px 20px;
}

ul{
    list-style-type: none;
}

a{
    color: white;
    text-decoration:none;
}

a:hover{
    color: #006d6d;
}

.header__menu li{
    font-size: 16px;
    padding:15px 5px;    
}

.header__menu li a {
    display: block;
}

.header__logo a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__toggle {
    order:1;
}

.header__item.button {
    order:2;
}

.header__item{
    width: 100%;
    text-align: center;
    order:3;
    display: none;
}

.header__item.active{
    display: block;
}

.header__toggle {
    cursor: pointer;
}

.header__bars {
    background-color: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.header__bars::before,.header__bars::after {
    background-color: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.header__bars::before{
    top:5px;
}

.header__bars::after{
    top:-5px;
}

.header__logo a {
    text-decoration: none;
}

@media all and (min-width:460px) {
    .header__menu{
        justify-content: center;
    }

    .header__logo {
        flex: 1;
    }

    .header__item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .header__toggle{
        order:2;
    }

    .button.secondary{
        border:0;
    }

    .button a {
        text-decoration: none;
        padding: 7px 15px;
        background-color: teal;
        border:1px solid #006d6d;
        border-radius: 50em; 
    }

    .button.secondary a {
        background: transparent;
    }

    .button a:hover {
        transition: all .25s;
    }

    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
        color: white
    }

    .modal__header h1 {
        color: black;
        padding: 10px;

    }


    @media all and (min-width:768px) {
        .header__item{
            display: block;
            width: auto;
        }
        .header__toggle{
            display: none;
        }
        .header__logo {
            order:0;
        }
        .header__item{
            order:1;
        }
        .button {
            order:2;
        }

        .header__menu li {
            padding: 15px 10px;
        }

        .header__menu li.button {
            padding-right: 0;
        }
    }

    


}


